<div class='row sim-nav-bar'> 
<div class='col-md-2'>
 <figure>
   <img src='https://via.placeholder.com/163x64' />
 </figure> 
</div>
<div class='col-md-4'> 

   <div class="input-group mb-3 search">
      <input type="text" class="form-control" name="search" placeholder="Search Products" /> 
      <div class="input-group-append">
        <span class="input-group-text">Search</span>
      </div>
    </div>

   </div>
<div class='col-md-6'>
  <nav class="navbar navbar-expand-md"> 
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>   
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Terms & conditions</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register / Login</a>   
        </li>
      </ul>
    
    </nav> 
</div>
</div> 